.container {
  margin: 70px auto;
  max-width: 1440px;
}

.header {
  padding: 70px 0 30px;
  text-align: center;
}

.header h2 {
  font-size: 30px;
}

.header p {
  padding: 30px 50px;
}

.containerBiaya {
  margin: 10px;
}

.biayasContainer {
  display: flex;
  flex-direction: column;
  margin: 10px 0 70px;
}

.biayaTitle {
  background-color: #06f;
  border-radius: 5px;
  color: white;
  padding: 30px 0;
  margin: 0;
  text-align: center;
  font-size: 30px;
}

.table {
  width: 100%;
}
.biayas {
}

.biayaRow:nth-child(even) {
  width: 100%;
  background-color: #00000010;
}

.biayaRow:nth-child(odd) {
  width: 100%;
  background-color: #ffffff;
}

.biayaRow:hover {
  background-color: #00000030;
}

.jenjang {
  padding: 7px;
}

.buttonWrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}

.button {
  background-color: #008000bb;
  color: white;
  padding: 20px 50px;
  width: max-content;
  margin: 0 auto;
  border-radius: 5px;
}

.button:hover {
  background-color: #008000;
  color: white !important;
}

@media screen and (min-width: 768px) {
  .header h2 {
    font-size: 30px;
  }
  .header p {
    font-size: 15px;
  }
  .biayaTitle {
    font-size: 30px;
  }
  .containerBiaya {
    display: flex;
    justify-content: center;
    gap: 30px;
  }
}

@media screen and (min-width: 1024px) {
  .header h2 {
    font-size: 40px;
  }
  .header p {
    font-size: 15px;
  }
  .biayaTitle {
    font-size: 37px;
  }
  .containerBiaya {
    gap: 80px;
  }
  .jenjang {
    padding: 10px 20px;
  }
  .biaya {
    padding: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .header h2 {
    font-size: 50px;
  }
  .header p {
    font-size: 20px;
  }
  .biayaTitle {
    font-size: 40px;
  }
  .containerBiaya {
    gap: 100px;
  }
  .jenjang {
    font-size: 20px;
    padding: 10px 30px;
  }
  .biaya {
    font-size: 20px;
    padding: 10px 30px;
  }
}
