.wrapper {
  padding: 70px 0;
  display: flex;
  flex-wrap: wrap;
}

.title {
  width: 100%;
}

.table {
  margin: 30px 0;
}

.table td {
  padding: 5px 10px;
}

.input {
  width: min-content;
}

@media screen and (min-width: 768px) {
  .wrapper {
    padding: 70px 30px;
  }
  .title {
    padding: 20px 0;
  }
  .table {
    margin: 30px 0;
  }
}
