.container {
  margin: 70px 0;
}

.title {
  text-align: center;
  padding: 70px 0 50px;
}

.contentWrapper {
  padding: 30px 10px;
  display: flex;
  justify-content: center;
}

@media screen and (min-width: 1024px) {
  .content {
    width: 80vw;
    height: 100vh;
    max-width: 1000px;
  }
}

@media screen and (min-width: 1440px) {
  .content {
    max-width: 1500px;
  }
}
